*.[ao]
*.aux
*.dvi
*.idx
*.ilg
*.ind
*.lof
*.log
*.toc
*.out
*.l[ao]
*.orig
.project
.cproject
/.libs
test_*.txt
*.pc
doc/tfm.pdf

*.gcda
*.gcno
*.info
coverage/
compat_reports/

test/test.exe
test/test
mtest/mtest.exe
mtest/mtest
stest/stest.exe
stest/stest
rsatest/rsatest.exe
rsatest/rsatest
timing/timing.exe
timing/timing
